.ad {
    text-align: center;
    font-size: 25px;
    color: gey;
    background-color: white;
} 

.he {
    text-align: center;
    font-size: 25px;
    color: grey;
    background-color: white;
} 

.adm {
    text-align: left;
    font-size: 20px;
    color: #333;
    background-color: white;
} 

.ca {
    color:white;
    background-color: cornflowerblue;
} 

.gen {
    color:white;
    text-align: left;
    background-color: red;
} 

.ne {
    color: black;
    background-color: turquoise;
    font-size: 20px;
} 

.nex {
    color:white;
    background-color: cornflowerblue;
}  

.pa {
    color: black;
    background-color: turquoise;
    font-size: 20px; 
} 

.pay {
    color:gray;
    font-size: 16px;
    background-color: #333;
} 

.paym {
    text-align: left;
    color: white;
    background-color: cornflowerblue;
}

.ag {
    text-align: left;
    font-size: 15px;
    color: white;
    background-color:#333;
}  

.agr {
    text-align: left;
    color: #333;
    background-color: cornflowerblue;
}

.age {
    text-align: center; 
    color: #333;
} 

.su {
    color: black;
    background-color: #333;
    font-size: 35px;

}

