.ab {
    font-size: 20px;
    text-align: center;
    color: white; 
    background-color: orange;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 10px;

}   

body{
    background-color: orchid;
}

.ca {
    font-size: 35px;
    text-align: center;
    color: white;
    background-color: orchid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 10px;
} 

.Ja {
    text-align: center;
    float: left;
    color: white;
    background-color: orchid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 

.Fe {
    text-align: center;
    color: white;
    background-color: orchid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
} 

.Ma {
    text-align: center;
    color: white;
    background-color: orchid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
} 

.Ap {
    text-align: center;
    color: white;
    background-color: orchid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
}   

.May {
    text-align: center;
    color: white;
    background-color: orchid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
} 

.Ju {
    text-align: center;
    color: white;
    background-color: orchid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
}  

.Jul {
    text-align: center;
    color: white;
    background-color: orchid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
} 

.Ag {
    text-align: center;
    color: white;
    background-color: orchid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
} 

.Sep {
    text-align: center;
    color: white;
    background-color: orchid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
}  

.Oc {
    text-align: center;
    color: white;
    background-color: orchid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
} 

.No {
    text-align: center;
    color: white;
    background-color: orchid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
} 

.De { 
    text-align: center;
    color: white;
    background-color: orchid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
}  

.Jn {
    text-align: center;
    color: white;
    background-color: orchid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
} 

.Fb {
    text-align: center;
    color: white;
    background-color: orchid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
} 

.Mr {
    text-align: center;
    color: white;
    background-color: orchid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
} 

.Al {
    text-align: center;
    color: white;
    background-color: orchid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
} 

.My {
    text-align: center;
    color: white;
    background-color: orchid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
}  

.Jn {
    text-align: center;
    color: white;
    background-color: orchid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
}  

.Jy {
    text-align: center;
    color: white;
    background-color: orchid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
} 

.As {
    text-align: center;
    color: white;
    background-color: orchid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
} 

.St {
    text-align: center;
    color: white;
    background-color: orchid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
} 

.Ob {
    text-align: center;
    color: white;
    background-color: orchid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
} 

.Nv {
    text-align: center;
    color: white;
    background-color: orchid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
} 

.Dm {
    text-align: center;
    color: white;
    background-color: orchid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
}