body{
    background-color: paleturquoise;
    
}
 
.about {
    font-size: 20px;
    text-align: center;
    color: white; 
    background-color: paleturquoise;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 10px;
}  

.a {
    float: center;
    text-align: center;
    font-size: 20px;
    border-width: 5px;
    border-style: solid;
    border-color: #3333;
    background-color: powderblue;
} 

.b {
    float: center;
    text-align: center;
    font-size: 20px;
    border-width: 5px;
    border-style: solid;
    border-color: #3333;
    background-color:powderblue;
} 

.c {
    float: center;
    text-align: center;
    font-size: 20px;
    border-width: 5px;
    border-style: solid;
    border-color: #3333;
    background-color: powderblue;
} 

.d {
    float: center;
    text-align: center;
    font-size: 20px;
    border-width: 5px;
    border-style: solid;
    border-color: #3333;
    background-color: powderblue;
} 

.e {
    float: center;
    text-align: center;
    font-size: 20px;
    border-width: 5px;
    border-style: solid;
    border-color: #3333;
    background-color: powderblue;
} 

.f {
    float: center;
    text-align: center;
    font-size: 20px;
    border-width: 5px;
    border-style: solid;
    border-color: #3333;
    background-color: powderblue;
} 

.g {
    float: center;
    text-align: center;
    font-size: 20px;
    border-width: 5px;
    border-style: solid;
    border-color: #3333;
    background-color: powderblue;
} 

.h {
    float: center;
    text-align: center;
    font-size: 20px;
    border-width: 5px;
    border-style: solid;
    border-color: #3333;
    background-color: powderblue;
} 

.i {
    float: center;
    text-align: center;
    font-size: 20px;
    border-width: 5px;
    border-style: solid;
    border-color: #3333;
    background-color: powderblue;
} 